.forumWordpressFr {
  &__panel {
    &__list {
      strong {
        font-weight: bold;
      }
      ul {
        list-style: circle outside;
        li {
          margin-left: 16px;
          margin-bottom: 0;
        }
      }
      &__item{

      }
    }
  }
}